
.game {
    padding-left: 5vw;
    padding-top: 10vh;
    height: 40vh;
    width: 20vw;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    width: 5vw;
    height: 10vh;
    border: 5px solid #bbada0;
    background: #d3cac1;
    font-size: 30px;
    font-family: 'Google Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}
.newGamebutton:hover{
    background-color: #a08d7c;
}
.newGamebutton{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #8f7a66;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}